.navBar{
    background-image: url('https://images.pexels.com/photos/1101122/pexels-photo-1101122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    /* background-color: #ffff; */
    background-size: cover;
    height: 80px;
    display: flex;
    position: relative;
    border-bottom: 1px solid black;  
}

.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.navbar_logo {
    width: 30%;
}


.nav-right{
    flex: 3;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    
}

.menu ul{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 0 10px;
}

.menu a{
    text-decoration: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding: 10px;

}

.menu a::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #9C1D21;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: 0.6s ease-in;
    
}

.menu a:hover::after{
    width: 100%;
    transition: 0.6s ease-in;
}

.logout{
    flex: 0.2;
    position: relative;
    height: 30px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
}

.logout-icon{
    font-size: 20px;
    color: #9C1D21;
    transition: 0.3s ease-in;
}

.logout-icon:hover{
    transform: scale(1.1);
    font-size: 20px;
    color: #9C1D21;
}

.nav-profile{
    flex: 0.3;
}




