.listDepartement {
    height: 80vh;
    width: 60%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
}

.listDepartement_title {
    text-align : center;
    padding: 20px;
    font-size : 20pt;

}

.listDepartement_table{
    text-align: center;
    margin-top: 25px;

}

.table_item_icon {
    border: none;
    background: none;
    font-family: 'Poppins';
    padding : 5px;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.table_item_icon:hover {
    transform: scale(1,1);
    background-color : #9C1D21;
    color : white;
    border-radius: 10px;
}






