.dashboard{
    height: 80vh;
    background-color: #202020;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

.dashboard_graph{
    width: 45%;
    height: 60%;
    background-color: white;
    align-self: center;
    margin: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.dashboard_table{
    width: 100%;
    margin: 10px;
    height: 70vh;
    background-color: white;
    align-self: center;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}  

.dashboard_table_title{
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15pt;
    font-weight: bold;
}

.dashboard_table_item{
    padding: 15px;
    width: 95%;
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    border: none;
}

.dashboard_table_item td, .dashboard_table_item th{
    border : none
}

.dashboard_table_item tr{
    cursor: pointer;
}







