*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url('https://images.pexels.com/photos/1101122/pexels-photo-1101122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.content{
    display: flex;
    flex-direction: row;
}


.main-content{
    flex: 1;
    padding: 20px;
    overflow: hidden;
    
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}


.search_form {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_form input{
    padding: 10px;
    width: 320px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;

}
.search_form input:focus{
    outline-color: #9C1D21;
    transition: 0.3s ease;
}

.search_clearButton {
    padding: 6px;
    margin-right: 10px;
    background-color: lightgrey;
    height: 28px;
    border: none;
    border-radius: 5px;
}

.search_clearButton:hover{
    cursor: pointer;
    background-color: #9C1D21; 
}


.search_Button{
    padding: 10px;
    width: 120px;
    border: 1px solid ;
    background-color: #9C1D21;
    border-radius: 10px;
    border-color: #9C1D21;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.search_Button:hover{
    transform: scale(1.1);
    color: #fff;
}

.list_pagination{
    align-self: center;
    margin: 10px;
}

.list_pagination button {
    padding: 5px;
    width: 30px;
    border : none;
    background: none;
}

.list_pagination button:hover {
    transform: scale(1.1);
    background-color: #9C1D21;
    color: #fff;
    border-radius: 10px;
}

.list_pagination .active{
    background-color: #9C1D21;
    color : #fff;
    border-radius: 10px;
}
