*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url('https://images.pexels.com/photos/1101122/pexels-photo-1101122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    position: relative;
    overflow: hidden;
}
