.nouveaux-collabs{
    background-color: #000000;
}
*{
    color: black;
}
.d_flex{
    display: flex;
    border-radius: 20px !important;
    background-color: white;
}
.box{
    width: 700px;
    text-align: left;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.img_new_collab{
    width: 50%;
}
.img_new_collab img{
    border-radius: 20px;
}
.info_new_collab{
    width: 50%;
}
.nom{
    color: #720b0b !important;
}