.collabListes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.collabListes_title{
    font-family: 'Poppins', sans-serif;
    font-size : 20pt;
}



.collabListes_Item{
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.AddCollab_Link{
    border: 1px solid;
    border-color: #9C1D21;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 20px;
    width: 300px;
    font-size: 12pt;
    text-decoration: none;
    color: black;
    background-color: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.AddCollab_Link:hover{
    transform: scale(1.0);
    background-color: blue;
    border-color: blue;
    color: white;
}



.CollabEdit_Button button{
   margin: 2px; 
   border: none;
   background-color: none;
   color : black;
   font-size: 10pt;
   transition: 0.3s ease-in-out;
}

.CollabEdit_Button button:hover{
    transform: scale(1.1);
    color : #9C1D21;
}

.collabListe_table{
    border : 1px solid;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    margin-top: 15px;
}

.collabListe_table table{
    border : none;
}

.collabListe_table th, .collabListe_table td{
    border: none;
}

.add-input {
    border-radius : 10px;
    height: 30px;

}

.collabView_Modal_closeBtn{
    margin: 15px;
    padding: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
   
}

.collabView_Modal_closeBtn:hover{
    transform: scale(1.1);
    color : #9C1D21;
}

