.login{
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title{
    font-size: 50px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.email{
    display: flex;
    flex-direction: column;
}

.login-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    width: 25%;
    align-items: center;
} 

.email{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.password{
    display: flex;
    flex-direction: column;
}

.login-input{
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    width: 380px;
    height: 40px;
}

.login-input:focus{
   outline-color: #9C1D21;
   transition: 0.3s ease;
}

.login-button{
    margin-top: 20px;
    cursor: pointer;
    background-color: #9C1D21;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 15px;
    transition: 0.3s ease;
    width: 200px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.login-button:hover{
   transform: scale(1.1);
   color: #fff;
}

.login-link{
    padding: 20px 0px;
    color : black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s all ease-in;
}

.login-link:hover{
    text-decoration: underline;
    color: #9C1D21;
}

.login-link:disabled{
    background-color: #9E9E9E; 
}




