.discussion-container {
    margin-top: 20px;
}

.discussion-heading {
    font-size: 2rem;
    color: rgb(36, 36, 64);
    margin-bottom: 20px;
}

.discussion-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.meta-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.module-title {
    font-size: 1.8rem;
    color: #4caf50;
}

.collab-name {
    font-size: 1.6rem;
    color: rgb(97, 161, 213);
    text-decoration-style: solid;
}

.discussion-title {
    font-size: 1.9rem;
    color: #333;
    margin-bottom: 10px;
}

.discussion-content {
    font-size: 1.5rem;
    color: #555;
}

.add-discussion-button {
    background-color: rgb(36, 36, 64);
    color: #ffffff;
    font-size:30px;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .add-discussion-button:hover {
    background-color: rgb(45, 45, 80);
    color: #fff;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2f2f2;
  }

  svg{
    color: white !important;
  }
  