thead,tbody{
    width: 100%;
    border: none;
    border-collapse: collapse;
}
th,td{
    width: 10%;
    text-align: center;
    align-items: center;
}
button{
    width: 100%;
    background-color:green;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    height: 25px;
}
h1{
    text-align: center;
    color: rgb(136, 36, 36);
    margin-bottom: 30px;
    text-decoration: underline;
}
body{
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}