thead,tbody{
    width: 100%;
    border: none !important;
    border-collapse: collapse;
}
.listeCollabo{
    border: none !important;
}
th,td{
    width: 10%;
    text-align: center;
    align-items: center;
}
.update{
    width: 100%;
    background-color:green;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    height: 30px;
}
.update a {
    text-decoration: none !important;
    color: #ffffff !important;
}
.bodyliste h1{
    text-align: center;
    color: rgb(136, 36, 36);
    text-decoration: underline;
    margin-top: -7%;
    margin-left: -2%;
    position: relative;
}
.bodyliste{
    width: 100%;
    height: 200vh;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.flex{
    display: flex;
    flex-wrap: wrap;
}

.block{
    display: block;
    background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
    background-repeat: no-repeat;
    background-size:cover;
}
.block h1,.poste h1{
    text-align: center;
    color: rgb(114, 23, 23);
    margin-bottom: 3%;
}
.add{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.add-input{
    width: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: none;
    border-radius: 5px;
    height: 35px;
    margin-right: 3%;
}
.add label{
    width: 25%;
    text-align: center;
}
.block button{
   background-color: rgb(114, 23, 23);
   width: 70%;
   height: 45px;
   color: #ffffff;
   border: none;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   margin-left: 20%;
}
.add2{
    display: flex;
}
.add2 label{
    width: 25%;
    text-align: center;
}
.add2 input{
    width: 23.5%;
    margin-left: -1.5%;
}
td img{
    width: 100%;
    height: 100%;
}
.updimg{
    width: 200px;
    height: 230px;
    margin-left: 7%;
}
.listeCollabo, .listeCollabo tr, .listeCollabo td, .listeCollabo th,.listeCollabo thead,.listeCollabo tbody{
    border: 1px solid #e8e5e5;
}
.logo{
    width: 13%;
    height: 100px;
    margin-left: 5%;
}
.block2{
    display: flex;
    flex-wrap: wrap;

}
.com {
    position: relative;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    padding: 3%;
    margin-bottom: 10px;
    display: flex;
    border: 3px solid #e8e5e5;
    text-align: left;
    overflow: hidden; /* Clip any overflow from the background image */
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfGg8a5Apgv-bHgcLf2W_wOEGDPrAv8MsTDg&usqp=CAU');
    filter: blur(3px);
    opacity: 0.7;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .com h4 {
    color: #545252;
    font-size: 22px;
    opacity: 1;
  }
  
  .com a {
    color: rgb(114, 23, 23);
    padding: 10px 10px;
    font-size: 18px;
  }
  .bodyliste2 h1{
    color:rgb(114, 23, 23) ;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  #recherche2{
    float: right;
    margin-top: -6%;
    text-align: center;
    background-color: #c7c2c2;
    font-size: 18px;
  }
  #filtre{
    width: 100%;
    text-align: center;
    border: 1px solid rgb(239, 233, 233);
  }
  @media only screen and (max-device-width: 480px) {
   .logo{
    display: none;
   }
   .bodyliste h1{
    margin-top: 0 !important;
   }
   #recherche{
    margin-top: 10%;
    margin-left: 4%;
    float: right;
    margin-right: 0;
   }
   .ajout{
    margin-top: 2%;
   }
  }
  .sidebar{
    width: 20%;
    background-color: rgb(114, 23, 23);
    padding: 2%;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    color: #ffffff !important;
  }
  .sidebar input{
    width: 100%;
    background-color: #ffffff;
  }
  .main{
    display: flex;
    margin-top: 5%;
  }
  .tableau{
    border-top:5px solid rgb(114, 23, 23);
  }
  .sidebar button{
    background-color: transparent;
    height: 2cm;
    border:none !important ;
    width: 100%;
    font-size: 18px;
  }
  .sidebar a{
    text-decoration: none !important;
    color: #ffffff !important;
  }