.addPoste_form {
    display: flex;
    flex-direction: column;
    justify-items: center;
}


.addPoste_form div{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.addPoste_form label{
    font-family: 'Poppins';
    margin: 5px;
}

.addPoste_form input, select{
    height: 40px;
    border-radius: 10px;
    border-color:  #9C1D21;
    padding : 5px;
}

.addPoste_form input:focus{
    outline: #9C1D21;
}

.addPoste_Submit{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    align-self: center;
    margin: 15px;
    background-color: #9C1D21;
    color : #fff;
    transition: 0.3s ease-in-out;
}

.addPoste_Submit:hover{
    transform: scale(1.1);
    color: #fff;
}